<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link href='./assets/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='./assets/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="./assets/css/style1.css">
    <title>Eduport - LMS, Education and Course Theme</title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Eduport- LMS, Education and Course Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/choices/css/choices.min.css">
	<link rel="stylesheet" type="text/css" href="assets/vendor/aos/aos.css">

	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="assets/css/style.css">


</head>

<body>
    <!-- Header START -->
<!-- Header START -->
<header class="navbar-light navbar-sticky">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" href="index.html">
				<img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
			</a>
			<!-- Logo END -->

			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>


			<!-- Main navbar START -->
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll mx-auto">
					<!-- Nav item 1 Demos -->
					<li class="nav-item dropdown">
						<a class="nav-link  active" href="index.html" id="demoMenu" data-bs-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Home</a>
					</li>
		
					<!-- Nav item 2 Pages -->
					<li class="nav-item dropdown">
						<a class="nav-link" href="course-grid.html">Courses</a>
					</li>
					<!-- Nav item 3 Account -->
					<li class="nav-item dropdown">
						<a class="nav-link" href="about.html">About</a>
		
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="contact-us.html">Contact Us</a>
					</li>
				</ul>
						
				
				<!-- Nav Main menu END -->

				<!-- Nav Search START -->
			
			</div>
			<!-- Main navbar END -->

			<!-- Profile START -->
			<div class="dropdown ms-1 ms-lg-0">
				<a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
					<img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">
				</a>
				<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
					<!-- Profile info -->
					<li class="px-3">
						<div class="d-flex align-items-center">
							<!-- Avatar -->
							<div class="avatar me-3">
								<img class="avatar-img rounded-circle shadow"  alt="avatar">
							</div>
							<div>
								<a class="h6" id="navname" href="#">Lori Ferguson</a>
								<p class="small m-0" id="navemail">example@gmail.com</p>
							</div>
						</div>
					</li>
					<!-- Links -->
		
          <!-- Dark mode switch END -->
				</ul>
			</div>
			<!-- Profile START -->
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- Header END -->

<main>
    <!-- =======================
    Page Banner START -->
	
    <section class="pt-0">
		<div class="container-fluid px-0">
			<div class="card bg-blue h-100px h-md-200px rounded-0 d-flex align-items-center justify-content-center" style="background:url(assets/images/pattern/04.png) no-repeat center center; background-size:cover;">
				<h2 style="color:aliceblue">Calendar</h2>
			  </div>
		</div>
		<div class="container mt-n4">
			<div class="row">
				<div class="col-12">
					<div class="card bg-transparent card-body pb-0 ps-0 mt-2 mt-sm-0">
						<div class="row d-sm-flex justify-sm-content-between mt-2 mt-md-0">
							<!-- Avatar -->
							<div class="col-auto">
								<div class="avatar avatar-xxl position-relative mt-n3">
									<img class="avatar-img rounded-circle border border-white border-3 shadow"  src="assets/images/avatar/09.jpg" alt="">
									<span class="badge bg-success text-white rounded-pill position-absolute top-50 start-100 translate-middle mt-4 mt-md-5 ms-n3 px-md-3"></span>
								</div>
							</div>
							<!-- Profile info -->
							<div class="col d-sm-flex justify-content-between align-items-center">
								<div id="p"></div>
                                <div class="mt-2 mt-sm-0">
                                    <a href="webcompiler.html" class="btn btn-danger-soft mb-0">Web Compiler</a>
    
    
                                    <a href="student-course-list.html" class="btn btn-outline-primary mb-0">View my courses</a>
                                    <a href="become-instructor.html" class="btn btn-outline-primary mb-0">Become an Instrctor</a>
    
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Advanced filter responsive toggler START -->
                    <!-- Divider -->
                    <hr class="d-xl-none">
                    <div class="col-12 col-xl-3 d-flex justify-content-between align-items-center">
                        <a class="h6 mb-0 fw-bold d-xl-none" href="#">Menu</a>
                        <button class="btn btn-primary d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <i class="fas fa-sliders-h"></i>
                        </button>
                    </div>
                    <!-- Advanced filter responsive toggler END -->
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Page Banner END -->
    
    <!-- =======================
    Page content START -->
    <section class="pt-0">
        <div class="container">
            <div class="row">
    
                <!-- Right sidebar START -->
                <div class="col-xl-3">
                    <!-- Responsive offcanvas body START -->
                    <nav class="navbar navbar-light navbar-expand-xl mx-0">
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                            <!-- Offcanvas header -->
                            <div class="offcanvas-header bg-light">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">My profile</h5>
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                            </div>
                            <!-- Offcanvas body -->
                            <div class="offcanvas-body p-3 p-xl-0">
                                <div class="bg-dark border rounded-3 pb-0 p-3 w-100">
                                    <!-- Dashboard menu -->
                                    <div class="list-group list-group-dark list-group-borderless">
										<a class="list-group-item " href="student-dashboard.html"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>Dashboard</a>
										<a class="list-group-item active" href="calender.html"><i class="bi bi-card-checklist fa-fw me-2"></i>Calender</a>
										<a class="list-group-item" href="student-course-list.html"><i class="bi bi-basket fa-fw me-2"></i>My Courses</a>
										<a class="list-group-item" href="studentCTF.html"><i class="bi bi-credit-card-2-front fa-fw me-2"></i>Challenges</a>
										<a class="list-group-item" href="dash.html"><i class="bi bi-cart-check fa-fw me-2"></i>Badges</a>
										<a class="list-group-item" href="assignment.html"><i class="bi bi-pencil-square fa-fw me-2"></i>Assignments</a>
                                        <a class="list-group-item" href="leaderboard.html"><i class="bi bi-pencil-square fa-fw me-2"></i>Leader Board</a>
									</div>
                                </div>
                            </div>
                        </div>
                    </nav>
                    <!-- Responsive offcanvas body END -->
                </div>
            
    
                <!-- Main content START -->
                <div class="col-xl-9">
                    <div class="card border rounded-3">
                        <!-- Card header START -->
                        <div class="card-header border-bottom">
                            <h3 class="mb-0">Calendar</h3>
                        </div>
                        <!-- Card header END -->
    
                        <!-- Card body START -->
                        <div class="card-body">
                            <div id='calendar'>
                            </div>
                            <!-- Pagination END -->
                        </div>
                        <!-- Card body START -->
                    </div>
    
                </div><!-- Row END -->
            </div>
        </div>	
    </section>
    <!-- =======================
    Page content END -->
    
    </main>
   


   



    <script src="./assets/js/jquery-3.3.1.min.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src='./assets/fullcalendar/packages/core/main.js'></script>
    <script src='./assets/fullcalendar/packages/interaction/main.js'></script>
    <script src='./assets/fullcalendar/packages/daygrid/main.js'></script>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js'></script>
    <script>
	document.addEventListener('DOMContentLoaded', function() {
  var calendarEl = document.getElementById('calendar');
  var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridMonth',
    events: [],
    eventClick: function(info) {
      if (info.event.url) {
        window.open(info.event.url);
        info.jsEvent.preventDefault();
      } else {
        var detailsEl = document.createElement('div');
        detailsEl.className = 'event-details';
        var titleEl = document.createElement('div');
		var br = document.createElement('br')
        titleEl.className = 'event-title';
        titleEl.textContent = info.event.title;
        var timeEl = document.createElement('div');
        timeEl.className = 'event-time';
        timeEl.textContent = info.event.start.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
        detailsEl.appendChild(titleEl);
		
        detailsEl.appendChild(timeEl);
        document.body.appendChild(detailsEl);
		document.body.appendChild(br)

        setTimeout(function() {
          document.body.removeChild(detailsEl);
        }, 3000);
      }

    },
    eventMouseEnter: function(info) {
      info.el.style.backgroundColor = 'green';
    },
    eventMouseLeave: function(info) {
      info.el.style.transform = '';
      info.el.style.backgroundColor = '';
    }
  });

  fetch('http://localhost:9999/live/getLive')
    .then(response => response.json())
    .then(data => {
      // Convert the date and time strings to Date objects
      data.forEach(event => {
        var dateTime = event.date + 'T' + event.time;
        event.start = new Date(dateTime);
        event.end = new Date(new Date(dateTime).getTime() + event.duration * 60 * 1000);
        event.url = event.link; // Set the URL property to the link
      });

      // Set the events array of the calendar and render it
      calendar.setOption('events', data);
      calendar.render();
    })
    .catch(error => {
      console.error('Error fetching events', error);
    });
});

    </script>
	<script src="js/student-dashboard.js"></script>
    <script src="./assets/js/main.js"></script>

</body>

</html>

	