<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Enrolled Courses</title>
  <!-- Include DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
</head>
<body>
  <h1>Enrolled Courses</h1>
  <table id="enrolled-courses" class="display" style="width:100%">
    <thead>
      <tr>
        <th>Course Title</th>
       
        <th>Course Short Description</th>
     
        <th>Students Enrolled</th>
      </tr>
    </thead>
  </table>
  

  <!-- Include jQuery and DataTables JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

  <script src="coursetable.js">
    // The jQuery code with DataTables goes here
  </script>
</body>
</html>
